<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= stylesheet href="/assets/css/main.css"> 
    <title>PartyPlanner</title>
</head>
<body>
    <header>
        <div class="brand">PartyPlanner</div>
            {% include "_layouts/_partials/_nav.twig" %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; PartyPlanner</p>
    </footer>
    
</body>
</html>